.card-container {
	background-color: #444444;
	border-radius: 30px;
	box-sizing: border-box;
	max-height: 642px;
	min-height: 354px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 122px;
	padding-right: 123px;
	width: 1280px;

	.card-title {
		color: #FFFFFF;
		font-size: 35px;
		font-weight: 600;
		letter-spacing: 0.05em;
		line-height: 45px;
	}

	.card-content {
		color: rgba(255, 255, 255, 0.9);
		font-size: 18px;
		font-weight: 500;
		line-height: 27px;
		margin-top: 20px;
		width: 506px;
	}
}