.navbar {
	align-items: center;
	background-color: #181818;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	height: 80px;
	justify-content: space-between;
	left: 0;
	padding: 23px 203px 22px 202px;
	position: absolute;
	top: 0;
	width: 100%;

	.logo {
		cursor: pointer;
	}

	.apply-button {
		align-items: center;
		background-color: #FFFFFF;
		border-radius: 15px;
		color: #151515;
		display: flex;
		font-size: 16px;
		font-weight: 600;
		height: 45px;
		justify-content: center;
		margin-right: 0;
		width: 150px;
	}
}

@media only screen and (max-width: 425px) {
	.navbar {
		height: 75px;
	}
}
