.achievement {
  padding-top: 40px;

  .name {
    color: $white-light;
    font-size: 22px;
    font-weight: 600;
    // height: 30%;
    line-height: 33px;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .text {
    color: $white-lighter;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;

    &::first-letter {
      text-transform: capitalize;
    }
  }
}