.brochure-form {
  background-color: $gray-medium;
  border-radius: 30px;
  max-width: 504px;
  width: 100%;
  @include mobile {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 45px 30px;
    @include mobile {
      margin: 21px;
    }
    .input-label {
      color: $white;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      margin-top: 10px;
      justify-self: start;
    }
    .input-field {
      background-color: $black-medium;
      border: none;
      border-radius: 20px;
      box-sizing: border-box;
      color: $gray-lighter;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      margin-top: 5px;
      outline: none;
      padding: 12px 20px;
      width: 100%;
      @include mobile {
        font-size: 16px;
        line-height: 24px;
        padding: 5px 20px;
      }
    }
    .checkbox {
      color: $white;
      font-size: 16px;
      font-weight: 500;
      margin-top: 30px;
      max-width: 100%;
      @include mobile {
        font-size: 11px;
      }
      a {
        position: absolute;
        margin-left: -22px;
        color: white;
        text-decoration: underline;
        width: fit-content;
        z-index: 5;
        @include mobile {
          margin-left: -15px;
        }
        &:visited {
          color: white;
        }
      }
    }
    .submit {
      background-color: $white;
      border-radius: 15px;
      color: $gray-darker;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      margin-top: 40px;
      outline: none;
      padding: 10px 0;
      width: 100%;
      &:hover {
        cursor: pointer;
      }
      @include mobile {
        border-radius: 10px;
        margin-top: 30px;
        padding: 8px 0;
      }
    }
  }
}