.details {
	background-color: $white-primary;
	display: flex;
	justify-content: center;
	padding: 80px 32px 140px;

	.container {
		align-items: flex-start;
		background-color: $white-primary;
		column-gap: 38px;
		display: flex;
		flex-wrap: wrap;
		max-width: $max-page-width;
		width: 100%;

		@include mobile {
			flex-direction: column;
			row-gap: 30px;
		}
	}
}