.detail {
	display: grid;
	flex: 1;
	grid-template-columns: 100%;
	grid-template-rows: auto auto;
	height: auto;
	text-align: left;
	@include mobile {
		margin-top: 20px;
	}
	.header {
		display: flex;
		.icon {
			margin-right: 10px;
		}
		.title {
			color: $gray-darker;
			font-size: 22px;
			font-weight: 500;
			line-height: 33px;
			&::first-letter {
				text-transform: capitalize;
			}
		}
	}
	.description, .note {
		color: $gray-dark;
		font-size: 18px;
		font-weight: 400;
		letter-spacing: -0.36px;
		line-height: 27px;
		&::first-letter {
      text-transform: capitalize;
		}
	}
}