.form {
  align-items: center;
  background-color: $gray-medium;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 45px;

  .input {
    background-color: $black-medium;
    border: none;
    border-radius: 20px;
    color: $gray-lighter;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    outline: none;
    padding: 10px 20px;
    width: 100%;
  }

    .checkbox-label { //container
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 20px;
      color: $white;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      text-decoration: underline;

      /* Hide the browser's default checkbox */
      .check { // input
        cursor: pointer;
        height: 0;
        opacity: 0;
        width: 0;
        // &:checked ~ .checkmark {
        //   background-color: violet;
        // }
        &:checked ~ .checkmark:after {
          display: block;
        }
      }
      /* On mouse-over, add a cyan border color */
      &:hover .check ~ .checkmark {
        border: 1.5px solid $cyan;
      }

      /* Create a custom checkbox */
      .checkmark {
        border: 1.5px solid $white-light;
        border-radius: 5px;
        cursor: pointer;
        height: 20px;
        margin-right: 20px;
        width: 20px;

        /* Style the checkmark/indicator */
        &:after {
          content: '';
          display: none;
        }

        &.checkmark:after {
          border: solid $cyan;
          border-width: 0 3px 3px 0;
          height: 10px;
          margin: auto;
          position: relative;
          transform: rotate(45deg);
          top: 2px;
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          width: 5px;
        }
    }

  }
  .submit {
    background-color: $white;
    border-radius: 15px;
    color: $gray-darker;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 40px;
    padding: 10px 20px;
    width: 100%;
  }
}