.investment {
  background-color: $black-primary;
  display: flex;
  justify-content: center;
  padding: 40px 32px 190px 32px;
  @include mobile {
    padding: 40px 32px 230px 32px;
  }
  .container {
    display: grid;
    grid-template-areas:  'subtitle subtitle subtitle subtitle'
                          'title title none none'
                          'description description description description'
                          'payment_plan payment_plan payment_plan payment_plan';
    max-width: $max-page-width;
    padding: 40px 0;
    width: 100%;
    .payment_plan { grid-area: payment_plan;}    
    @include mobile {
      grid-template-areas:  'subtitle'
                            'title'
                            'description'
                            'payment_plan';
    }
    .subtitle {
      color: $gray-light;
      font-size: 20px;
      font-weight: 500;
      grid-area: subtitle;
      @include mobile {
        font-size: 18px;
      }
    }
    .title {
      color: $white;
      font-size: 35px;
      font-weight: 500;
      grid-area: title;
      letter-spacing: 1.75px;
      line-height: 45px;
      margin-top: 20px;
      span {
        color: $cyan;
      }
      @include mobile {
        font-size: 28px;
        letter-spacing: 1.4px;
        line-height: 35px;
      }
    }
    .description {
      color: $white-lighter;
      font-size: 18px;
      font-weight: 400;
      grid-area: description;
      margin-top: 40px;
      span {
        color: $cyan;
      }
    }
  }
}