.metric {
	display: grid;
	flex: 1;
	grid-template-columns: 100%;
	grid-template-rows: auto auto;
	height: auto;
	text-align: center;
	.value {
		color: $cyan;
		font-size: 70px;
		font-weight: 500;
		@include mobile {
			font-size: 40px;
		}
	}
	.description {
		color: $white;
		font-size: 18px;
		font-weight: 400;
		padding: 0 20px;
		text-align: center;
		&::first-letter {
      text-transform: capitalize;
    }
		@include mobile {
			font-size: 13px;
			padding: 0;
		}
	}
}
