.navbar {
	background-color: $black-primary;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	padding: 0 32px;
	.container {
		align-items: center;
		display: flex;
		justify-content: space-between;
		max-width: $max-page-width;
		padding: 20px 0;
		width: 100%;
		.logo {
			cursor: pointer;
			margin-right: 10px;
			max-width: 38vw;
			width: 130px;
		}
		.button {
			align-items: center;
			background-color: $white;
			border-radius: 15px;
			color: $black-primary;
			display: flex;
			font-weight: 500;
			padding: 10px 33px;
			justify-content: center;
			@include mobile {
				padding: 7px 28px;	
			}
			span {
				@include mobile {
					display: none;
				}
			}
		}
	}
}