.ready-to-transform {
  background-color: $black-primary;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 80px 15px;
  .container  {
    max-width: 1400px;
    width: 100%;
    // padding: 80px 32px;
    .card {
      background-color: $gray;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      width: 100%;
      @include mobile {
        flex-direction: column;
      }
      .card-container {
        display: flex;
        flex: 1;
        justify-content: space-between;
        margin: 0 15px;
        max-width: $max-page-width;
        padding: 110px 0;
        @include mobile {
          flex-direction: column;
        }
        .text {
          color: $white;
          font-size: 2.35rem;
          font-weight: 500;
          letter-spacing: 2.25px;
          line-height: 45px;
          @include mobile {
            font-size: 1.75em;
            letter-spacing: 1.1px;
          }
          span {
            color: $cyan;
          }
        }
        .button-container {
          align-items: center;
          display: flex;
          justify-content: center;
          width: 33.3%;
          @include mobile {
            padding-top: 50px;
            width: 100%;
          }
          .button {
            background-color: $cyan;
            border-radius: 15px;
            color: $black;
            font-size: 1.15rem;
            font-weight: 500;
            padding: 13px 25px;
            text-align: center;
            @include mobile {
              padding: 13px 10px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
