.thankyou {
  background-color: $black-primary;
  display: flex;
  min-height: 100vh;
	justify-content: center;
	padding: 0 32px;
  .container {
    max-width: $max-page-width;
		width: 100%;
    .header {
      padding: 20px 0;
      width: 100%;
      .logo {
        cursor: pointer;
        margin-right: 10px;
        max-width: 38vw;
        width: 130px;
      }
    }
    .content {
      display: flex;
      justify-content: center;
      margin: 80px 0;
      width: 100%;
      @include mobile {
      margin: 120px 0;
      }
      .card {
        align-items: center;
        box-sizing: border-box;
        background-color: $gray-medium;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 775px;
        padding: 110px;
        width: 100%;
        @include mobile {
        padding: 110px 4px;
        }
        .title {
          color: $white;
          font-weight: 600;
          font-size: 45px;
          letter-spacing: 0.05em;
          line-height: 45px;
          @include mobile {
            font-size: 38px;
          }
        }
        .cyan-color {
          color: $cyan;
          margin-bottom: 25px;
        }
        .text {
          color: $white-light;
          font-size: 22px;
          font-weight: 500;
          line-height: 33px;
          text-align: center;
          max-width: 385px;
        }
        .brochure {
          align-items: center;
          background-color: $gray-medium;
          border-radius: 15px;
          color: $white;
          display: flex;
          font-size: 18px;
          font-weight: 600;
          justify-content: center;
          margin-top: 20px;
          padding: 10px 13px;
          width: fit-content;
          @include mobile {
            padding: 8px 11px;
          }
        }
        .is-desktop {
          display: flex;
          @include mobile {
            display: none;
          }
          .icon {
            margin-right: 7px;
          }
        }
        .is-mobile {
          display: none;
          @include mobile {
            display: flex;
            margin: 30px auto;
          }
          .icon {
            margin-right: 7px;
          }
        }
      }
    }
  }
}