.workshops {
  background-color: $black-primary;
  display: flex;
  justify-content: center;
  padding: 0 32px;
  .container {
    display: grid;
    max-width: $max-page-width;
    padding: 40px 0 20px;
    width: 100%;
    column-gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    @include mobile {
      column-gap: 0;
      grid-template-columns: 100%;
      row-gap: 40px;
    }
  }
}