@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import './mixins.scss';
@import './variables.scss';

// Components
@import './components/index.scss';

* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}