// COLORS
// Black
$black: #000000;
$black-medium: rgba(0, 0, 0, 0.6);
$black-primary: #181818;


// Cyan
$cyan: #00ffff; 
$cyan-primary: #67EBEB;

// Gray
$gray: #444444; 
$gray-dark: rgba(21, 21, 21, 0.7);
$gray-darker: #151515; // rgb(21,21,21) // very similar to $black-primary: #181818
$gray-light: rgba(255, 255, 255, 0.5);
$gray-lighter:rgba(255, 255, 255, 0.7);
$gray-medium: rgba(255, 255, 255, 0.1);

// White
$white: #FFFFFF;
$white-light: #FBFBFB;
$white-lighter: rgba(255, 255, 255, 0.9);
$white-primary: #F6F6F6;

// SIZES
$max-page-width: 1200px;

// pretty-checkbox customization
$pretty--color-default: $white;
$pretty--color-info: $cyan;
$pretty--z-index-back:1;
$pretty--z-index-between:2;
$pretty--z-index-front:3;
