// COLORS
// Black
$black: #000000;
$black-primary: #181818;

// Cyan
$cyan: #00FFFF;

// Gray
$gray: #444444; 
$gray-dark: rgba(21, 21, 21, 0.7);
$gray-darker: #151515; // rgb(21,21,21) // very similar to $black-primary: #181818
$gray-light: rgba(255, 255, 255, 0.5);
$gray-medium: rgba(255, 255, 255, 0.1);

// White
$white: #FFFFFF;
$white-light: #FBFBFB;
$white-lighter: rgba(255, 255, 255, 0.9);
$white-primary: #F6F6F6;

// Sizes
$max-page-width: 1200px;